<div>
    <a href="#/">Back.</a>
    <hr>
    <img src="{images[0].hostedLargeUrl}">
    <hr>
    <div><h6>{name}</h6></div>
    <hr>
    <ul id="ingredientLines">{ingredientLines}</ul>
    <hr>
    <h6>Approx. {totalTime}</h6>
</div>

<h5>Directions <br> <hr>Bacon ipsum dolor amet tail spare ribs pork sirloin fatback meatball. Ham hock jerky ground round tri-tip pork chicken fatback andouille pancetta pork chop brisket. Cow tongue frankfurter shankle fatback short loin sausage rump. Sirloin t-bone meatball bacon brisket leberkas tenderloin landjaeger strip steak pancetta. Leberkas tenderloin tongue, sausage pig kielbasa shoulder turkey boudin filet mignon hamburger. Beef ribs chicken ground round meatloaf meatball, swine boudin.

Doner ham hock pork chop venison. Chuck ribeye andouille short ribs doner fatback. Brisket pork tri-tip bacon shoulder filet mignon salami. Chicken rump beef ribs swine capicola drumstick sausage prosciutto biltong pig ham hock kielbasa kevin spare ribs. Landjaeger fatback leberkas spare ribs, rump hamburger kielbasa.

Shank sausage beef turkey, beef ribs bacon chuck short ribs cow meatloaf andouille. Ribeye kielbasa ball tip, jowl meatloaf kevin t-bone shank turducken corned beef pork loin bacon ham hock pig. Tail landjaeger turkey ham hock strip steak short ribs chicken jerky pork chop drumstick boudin andouille ground round frankfurter. Beef turducken ham hock shankle spare ribs pork loin bresaola, landjaeger ground round venison. Strip steak landjaeger beef ribs, kevin swine beef leberkas capicola pork chop tri-tip jerky.

Jowl drumstick pork loin short ribs porchetta turducken, venison prosciutto fatback rump kielbasa pork. Meatloaf t-bone pork loin pancetta strip steak ground round ham ball tip chuck pig ham hock jerky landjaeger. Shankle ham hock venison beef ribs rump frankfurter. Biltong tongue beef ball tip jerky, frankfurter leberkas kevin filet mignon. Pork belly pancetta shankle leberkas pig salami spare ribs sausage turkey strip steak sirloin rump. Beef ribs shank bresaola frankfurter doner pork loin.

Tail leberkas doner short ribs flank tenderloin fatback capicola turkey ball tip ground round filet mignon. Sausage tail turducken tongue, frankfurter andouille meatball ham hock prosciutto rump short ribs beef. Fatback pork loin landjaeger bresaola, beef ribs boudin ground round shoulder cow kielbasa sirloin bacon. Landjaeger short ribs ground round, capicola salami jowl ribeye jerky cow.</h5>
